checks:pylint:
  before_script:
  - sudo dnf install -y python3-pip python3-pyxdg python3-pytest-qt
  - pip3 install --quiet -r ci/requirements.txt
  - git clone https://github.com/QubesOS/qubes-core-admin-client ~/core-admin-client
  - (cd ~/core-admin-client;python3 setup.py egg_info)
  - git clone https://github.com/QubesOS/qubes-linux-utils ~/linux-utils
  - (cd ~/linux-utils/imgconverter;sudo python3 setup.py install)
  script:
  - PYTHONPATH=~/core-admin-client python3 -m pylint qubesmanager
  stage: checks
include:
- file: /r4.3/gitlab-base.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.3/gitlab-host.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.3/gitlab-vm.yml
  project: QubesOS/qubes-continuous-integration

checks:tests:
  stage: checks
  variables:
    PYTEST_ADDOPTS: "--color=yes"
  before_script: &before-script
    - "PATH=$PATH:$HOME/.local/bin"
    - sudo dnf install -y python3-gobject python3-pytest python3-pytest-asyncio
      python3-coverage sequoia-sqv python3-pip python3-pytest-qt 
      xorg-x11-server-Xvfb python3-PyQt6-devel python3-pyqt6
    - pip3 install --quiet -r ci/requirements.txt
    - git clone https://github.com/QubesOS/qubes-core-admin-client ~/core-admin-client
    - (cd ~/core-admin-client;python3 setup.py egg_info)
    - git clone https://github.com/QubesOS/qubes-linux-utils ~/linux-utils
    - (cd ~/linux-utils/imgconverter;sudo python3 setup.py install)
  script:
    - make ui
    - make res
    - PYTHONPATH=~/core-admin-client:~/manager:. xvfb-run ./run-tests.sh
    - coverage report
  after_script:
    - "PATH=$PATH:$HOME/.local/bin"
    - ci/codecov-wrapper
