[Desktop Entry]
Type=Application
Exec=qubes-backup-restore
Icon=qubes-manager
Terminal=false
Name=Restore Backup
GenericName=Restore Backup
StartupNotify=false
Categories=Settings;X-XFCE-SettingsDialog
Keywords=qubes;
