[Desktop Entry]
Type=Application
Exec=qubes-vm-create
Path=/usr/bin
Icon=qubes-manager
Terminal=false
Name=Create Qubes VM
GenericName=Create Qubes VM
StartupNotify=false
Categories=Settings;X-XFCE-SettingsDialog
