[Desktop Entry]
Type=Application
Exec=qubes-manager
Path=/var/lib/qubes
Icon=qubes-manager
Terminal=false
Name=Qubes VM Manager
GenericName=Qubes VM Manager
StartupNotify=false
Categories=System;X-Xfce-Toplevel;
