[Desktop Entry]
Type=Application
Exec=qubes-backup-restore
Path=/user/bin
Icon=qubes-manager
Terminal=false
Name=Restore Backup
GenericName=Restore Backup
StartupNotify=false
Categories=System;
